.customerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customerContent > form {
    display: flex;
    flex-direction: column;
    
}

.customerContent > form > input {
    width: 100%;
    font-size: 1.5em;
    margin: 10px;

}